:root {
    --blue: #008DB0;
    --light-blue: #33BDDC;
    --whity-blue: #8fd4e4;
    --shadow-color: #cfe3e7;
    --orange: rgb(213, 141, 7);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    font-family: Poppins;
    padding-top: 5%;
}
/*************
Header Section
*************/
header nav {
    display: flex;
    justify-content: end;
    width: 85%;
}
header nav menu {
    display: flex;
    width: 45%;
    list-style: none;
}
header nav menu li {
    width: 30%;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    gap: .8rem;
}
header nav menu li .selected {
    color: var(--orange);
}
header nav menu li a {
    text-decoration: none;
    color: black;
}
/*************
Main Section
*************/
main {
    display: flex;
    justify-content: center;
    gap: 5rem;
}
main .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
    padding: 1.5%;
}
main section section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
main section .welcome {
    color: var(--light-blue);
    font-size: 1.2rem;
    font-weight: 400;
}
main section section .intro {
    color: var(--blue);
    font-size: 2.5rem;
    font-weight: 600;
}
main section section .description {
    font-weight: 500;
    font-size: .9rem;
}
main section section .description a {
    text-decoration: none;
    color: var(--blue);
}
main section section div .position {
    color: var(--orange);
}
main .buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 6%;
}
main .buttons button:nth-child(1) {
    width: 25%;
    color: white;
    background-color: var(--blue);
    border: none;
    padding: 1%;
    border-radius: .3rem;
    font-size: 1rem;
    box-shadow: 0px 4px 3px 0px var(--shadow-color);
}
main .buttons button:nth-child(1):hover, main .buttons button:nth-child(1):active {
    opacity: 0.8;
    cursor: pointer;
}
main .buttons button:nth-child(2) {
    width: 35%;
    color: var(--blue);
    background-color: white;
    border: 1.4px solid var(--blue);
    padding: 1%;
    border-radius: .3rem;
    font-size: 1rem;
    box-shadow: 0px 2px 1px 0px var(--shadow-color);
}
main .buttons button:nth-child(2):hover, main .buttons button:nth-child(2):active {
    opacity: 0.5;
    cursor: pointer;
}
main aside {
    width: 25%;
    position: relative;
}
main aside img {
    width: 90%;
    height: 70%;
    border-bottom-left-radius: 50%;
}
main aside .shadow {
    z-index: -1;
    background-color: var(--whity-blue);
    width: 90%;
    height: 56%;
    position: absolute;
    top: 4%;
    left: -4%;
    border-bottom-left-radius: 50%;
    transform: rotate(-3deg);
}
/*************
Media Queries
*************/
@media(min-width: 780px) and (max-width: 960px) {
    header nav menu li {
        flex-flow: column wrap;
    }
    main aside img {
        max-height: 60%;
    }
    main aside .shadow {
        max-height: 56%;
    }
}
@media(max-width: 780px) {
    main aside img {
        max-height: 50%;
    }
    main aside .shadow {
        max-height: 46%;
    }
}
@media(max-width: 650px) {
    body {
        gap: 3rem;
        padding: 0%;
    }
    header nav {
        width: 100%;
        justify-content: center;
    }
    header nav menu {
        width: 100%;
    }
    header nav menu li {
        flex-flow: column wrap;
    }
    main {
        flex-direction: column-reverse;
        gap: 2rem;
    }
    main .container {
        width: 100%;
        align-items: center;
    }
    main aside {
        width: 90%;
        text-align: center;
        align-self: center;
    }
    main aside img {
        max-height: 70%;
        max-width: 60%;
        border-radius: 0;
    }
    main aside .shadow {
        display: none;
    }
    main .buttons button:nth-child(1) {
        width: 45%;
    }
    main .buttons button:nth-child(2) {
        width: 65%;
    }
}